@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ticketsystem</h1>
    <p class="lead">Dies ist das Ticketsystem von Hofmann & Baer IT Solutions. Bitte loggen Sie sich ein, um Zugriff auf Ihr Projekt zu erhalten.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hofmann & Baer IT Solutions</h2>
        <p> 
            Besuchen Sie uns auf unserer Webseite.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">mehr erfahren &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Einloggen</h2>
        <p>Melden Sie sich jetzt an, um Zugriff auf Ihr Projekt zu erhalten.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">weiter &raquo;</a></p>
    </div>
</div>